<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

  <app-toolbar></app-toolbar>

 <!-- ============================================================== -->
 <!-- Page wrapper  -->
 <!-- ============================================================== -->
 <div class="page-wrapper">

     <!-- <app-breadcrumbs></app-breadcrumbs> -->

     <!-- ============================================================== -->
     <!-- Sistema de Rutas -->
     <!-- ============================================================== -->

     <router-outlet></router-outlet>

     <!-- ============================================================== -->
     <!-- End Sistema de Rutas -->
     <!-- ============================================================== -->

     <!-- ============================================================== -->
     <!-- footer -->
     <!-- ============================================================== -->

     <!-- <app-footer></app-footer> -->

     <!-- ============================================================== -->
     <!-- End footer -->
     <!-- ============================================================== -->


 </div>
 <!-- ============================================================== -->
 <!-- End Page wrapper  -->
 <!-- ============================================================== -->

</div>
