<div class="container-fluid contenedor-principal">
  <div class="contenedor-cards card">
    <div class="contenedor-carpinteria">
      <div class="imagen-carpinteria card"></div>
      <div class="contenedor-boton-carpinteria">
        <button class="btn btn-primary boton-carpinteria">CARPINTERIA</button>
      </div>
    </div>
    <div class="contenedor-construccion">
      <div class="imagen-construccion card"></div>
      <div class="contenedor-boton-construccion">
        <button class="btn btn-primary boton-construccion">CONSTRUCCIÓN</button>
      </div>
    </div>
    <div class="contenedor-digital">
      <div class="imagen-digital card"></div>
      <div class="contenedor-boton-digital">
        <button class="btn btn-primary boton-digital">DIGITAL</button>
      </div>
    </div>
  </div>
</div>
